<center><img src="https://www.python.org/static/img/python-logo.png" title="Python Logo"/></center>

<blockquote>
<center><h2 style="font-family:Lucida Console">Ciência de Dados com Python</h2></center>
</blockquote>

```python 
print('Felipe Soares dos Santos Silveira, GES | 2025.2')
```

<hr>

> <center><h3 style="font-family:Lucida Console">Capítulo 5</h3></center>

<div style="display: flex; justify-content: center; gap: 10px;">
  <img src="https://raw.githubusercontent.com/Felipe-SSS/C11/main/images/Cap5_Exercicios_3.png" title="Exercícios (Parte 3)" width="600"/>
</div>

> <h4 style="font-family:Lucida Console">Exercício 1</h4>

In [2]:
import pandas as pd

dfPaises = pd.read_csv('../datasets/paises.csv', delimiter=';')

In [3]:
print(dfPaises)

             Country                               Region  Population  \
0       Afghanistan         ASIA (EX. NEAR EAST)             31056997
1           Albania   EASTERN EUROPE                          3581655
2           Algeria   NORTHERN AFRICA                        32930091
3    American Samoa   OCEANIA                                   57794
4           Andorra   WESTERN EUROPE                            71201
..               ...                                  ...         ...
222       West Bank   NEAR EAST                               2460492
223  Western Sahara   NORTHERN AFRICA                          273008
224           Yemen   NEAR EAST                              21456188
225          Zambia   SUB-SAHARAN AFRICA                     11502010
226        Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
0            647500                        48.0                          0.00
1             28748                       124.6                          1.26
2           2381740                        13.8                          0.04
3               199                       290.4                         58.29
4               468                       152.1                          0.00
..              ...                         ...                           ...
222            5860                       419.9                          0.00
223          266000                         1.0                          0.42
224          527970                        40.6                          0.36
225          752614                        15.3                          0.00
226          390580                        31.3                          0.00

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
0            23.06                              163.07                 700
1            -4.93                               21.52                4500
2            -0.39                               31.00                6000
3           -20.71                                9.27                8000
4             6.60                                4.05               19000
..             ...                                 ...                 ...
222           2.98                               19.62                 800
223           0.00                                0.00                   0
224           0.00                               61.50                 800
225           0.00                               88.29                 800
226           0.00                               67.69                1900

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
0            36.0                3.2       12.13       0.22      87.65
1            86.5               71.2       21.09       4.42      74.49
2            70.0               78.1        3.22       0.25      96.53
3            97.0              259.5       10.00      15.00      75.00
4           100.0              497.2        2.22       0.00      97.78
..            ...                ...         ...        ...        ...
222           0.0              145.2       16.90      18.97      64.13
223           0.0                0.0        0.02       0.00      99.98
224          50.2               37.2        2.78       0.24      96.98
225          80.6                8.2        7.08       0.03      92.90
226          90.7               26.8        8.32       0.34      91.34

     Climate  Birthrate  Deathrate  Agriculture  Industry  Service
0        1.0      46.60      20.34        0.380     0.240    0.380
1        3.0      15.11       5.22        0.232     0.188    0.579
2        1.0      17.14       4.61        0.101     0.600    0.298
3        2.0      22.46       3.27        0.000     0.000    0.000
4        3.0       8.71       6.25        0.000     0.000    0.000
..       ...        ...        ...          ...       ...      ...
222      3.0      31.67       3.92        0.090     0.280    0.630
223      1.0       0.00       0.00        0.000     0.000    0.400
224      1.0      42.89       8.30        0.135     0.472    0.393
225      2.0      41.00      19.93        0.220     0.290    0.489
226      2.0      28.01      21.84        0.179     0.243    0.579

[227 rows x 20 columns]

In [4]:
print(dfPaises.columns)

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [28]:
paises_oceania = dfPaises.loc[dfPaises["Region"].str.contains('OCEANIA'), "Country"] .tolist()
print(paises_oceania)

['American Samoa ', 'Australia ', 'Cook Islands ', 'Fiji ', 'French Polynesia ', 'Guam ', 'Kiribati ', 'Marshall Islands ', 'Micronesia, Fed. St. ', 'Nauru ', 'New Caledonia ', 'New Zealand ', 'N. Mariana Islands ', 'Palau ', 'Papua New Guinea ', 'Samoa ', 'Solomon Islands ', 'Tonga ', 'Tuvalu ', 'Vanuatu ', 'Wallis and Futuna ']

In [29]:
print(len(paises_oceania))

21

> <h4 style="font-family:Lucida Console">Exercício 2</h4>

In [37]:
maior_populacao = dfPaises.nlargest(1, "Population")[["Country", "Region"]]
print(maior_populacao)

   Country                         Region
42  China   ASIA (EX. NEAR EAST)

> <h4 style="font-family:Lucida Console">Exercício 3</h4>

In [ ]:
group_regions = dfPaises.groupby('Region')

In [40]:
print(group_regions['Literacy (%)'].mean())

Region
ASIA (EX. NEAR EAST)                   79.553571
BALTICS                                99.733333
C.W. OF IND. STATES                    98.725000
EASTERN EUROPE                         72.816667
LATIN AMER. & CARIB                    88.640000
NEAR EAST                              69.581250
NORTHERN AFRICA                        56.033333
NORTHERN AMERICA                       78.200000
OCEANIA                                71.914286
SUB-SAHARAN AFRICA                     61.284314
WESTERN EUROPE                         80.821429
Name: Literacy (%), dtype: float64

> <h4 style="font-family:Lucida Console">Exercício 4</h4>

In [ ]:
no_coast = dfPaises[dfPaises['Coastline (coast/area ratio)'] == 0]

In [43]:
no_coast.to_csv('../datasets/noCoast.csv', sep=';')

> <h4 style="font-family:Lucida Console">Exercício 5</h4>

In [45]:
import numpy as np

def labelHumanitarianHelp(deathRates):
    
    return pd.Series(np.where(deathRates < 9, "Balanced", "Urgent"))

In [46]:
humaniratial_help = labelHumanitarianHelp(dfPaises['Deathrate'])

In [48]:
dfPaises["Humanitarian_Help"] = humaniratial_help

In [49]:
dfPaises.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),...,Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Humanitarian_Help
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,...,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380,Urgent
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,...,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579,Balanced
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,...,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298,Balanced
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,...,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000,Balanced
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000,100.0,...,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000,Balanced